#topbar {
    background: rgba(60, 60, 115, 0.47);
    a.top-bar-link {
        font-size: 14px;
        color: #3C3C73;
    }
    .top-bar-greet {
        font-size: 14px;
        color: #3C3C73;
    }
}
