@import "tailwindcss/theme";
@import "tailwindcss/utilities";

@import "./components/header/header.css";
@import "./components/footer/footer.css";
@import "./components/menu/menu.css";
@import "./components/product-badges/product-badges.css";
@import "./components/button/button.css";
@import "./components/content-area/content.css";
@import "./components/availability-notifications/availability-notifications.css";

@font-face {
    font-family: "Rozetka Web";
    src: url("../fonts/RozetkaWeb/RozetkaWeb-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Rozetka Web";
    src: url("../fonts/RozetkaWeb/RozetkaWeb-Medium.woff2") format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Rozetka Web";
    src: url("../fonts/RozetkaWeb/RozetkaWeb-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@theme {
    --theme-color-1: #06b6eb;
    --theme-color-2: #ff6ede;
    --theme-color-3: #f9c7e2;
    --theme-color-4: #ae73de;
    --theme-color-5: #fbe104;
    --theme-color-6:#ff8565;
    --theme-color-7: #55e462;
    --background-color: #FFFFFF;
    --color-content-background: #f8f9fa;
    --primary-color: #06b6eb;
    --secondary-color: #ff6ede;
    --accent-color: #ae73de;
    --border-color: #1A1A1A;
    --text-color: #1A1A1A;

    --text-base: 16px;
    --text-md: 14px;
    --text-sm: 13px;
    --text-xs: 11px;

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;

}
:root, body .elementor-kit-6 {
    --font-family-sans: "Rozetka Web", "Segoe UI", sans-serif;
    --font-family-display: "Rozetka Web", "Segoe UI", sans-serif;

    --e-global-typography-primary-font-family: "Rozetka Web";
    --e-global-typography-primary-font-weight: 700;

    --e-global-typography-secondary-font-family: "Rozetka Web";
    --e-global-typography-secondary-font-weight: 500;

    --e-global-typography-text-font-family: "Rozetka Web";
    --e-global-typography-text-font-weight: 400;

    --e-global-typography-accent-font-family: "Rozetka Web";
    --e-global-typography-accent-font-weight: 500;
}

html {
    font-family: var(--font-family-sans), sans-serif;
}
body {
    @apply text-base;
    color: #707070;
    background-color: #FFFFFF;
    font-weight: 400;
    line-height: 1.7143;
    margin: 0;
}
body,
button,
input,
select,
textarea {
    font-family: var(--font-family-sans), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.main-menu a,
.maruderm-button {
    font-family: var(--font-family-display), sans-serif;
}
