:root {
    --cat-1: 6, 182, 235;
    --cat-2: 255, 110, 222;
    --cat-3: 174, 115, 222;
    --cat-4: 255, 133, 101;
    --cat-5: 85, 228, 98;
    --cat-6: 251, 225, 4;
}

.category-item:nth-child(6n + 1) { --cat-color: var(--cat-1); }
.category-item:nth-child(6n + 2) { --cat-color: var(--cat-2); }
.category-item:nth-child(6n + 3) { --cat-color: var(--cat-3); }
.category-item:nth-child(6n + 4) { --cat-color: var(--cat-4); }
.category-item:nth-child(6n + 5) { --cat-color: var(--cat-5); }
.category-item:nth-child(6n + 6) { --cat-color: var(--cat-6); }

.section-popular-category {
    .shop-by-category {
        .row-shop-by-category {
            > div {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                gap: 24px;
            }
        }
        .category-item {

            > div {
                padding: 0;
            }

            flex: 0 0 auto;
            flex-shrink: 0;
            background: linear-gradient(
                    135deg,
                    rgba(var(--cat-color), 0.25) 0%,
                    rgba(var(--cat-color), 0.5) 100%
            );

            position: relative;
            width: 110px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            padding: 4px;
            border: 3px solid rgb(var(--cat-color));
            transition: all .3s ease;

            &:hover {
                border-color: rgb(var(--cat-color));
                /* scale: 1.1;*/
            }
            .category-item-img {
                max-width: 120px;
                width: 100%;
                height: 100%;
                overflow: visible;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                transition: transform .3s ease;

                .thumbnail {
                    border-radius: 50%;
                    overflow: hidden;
                    background: white;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform .3s ease;
                }
                .mf-elementor-image-box:hover {
                    border:none;
                }

                .image-content {
                    position: absolute;
                    bottom:-30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0;

                    .box-title {
                        font-size: 1.3rem;
                        line-height: 100%;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
